{% load superadminCustomtags %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'SuperAdmin/css/customizecourse.css' %}" />


    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
      body {
        font-family: 'Poppins';
      }
    </style>
    
    <title>Customize Courses</title>
  </head>
  <body>

    <nav class="navbar  mb-4">
        <span  class="navbar-brand mb-0 h1"><a style="color:orange" class="text-decoration-none" href="{% url 'SuperAdmin:dashboard' %}">BVC</a></span>
        <span class="mr-auto "><a class="text-decoration-none custom-nav-items"   href="{% url 'SuperAdmin:setup' %}">Setup</a></span>
        <span class="mr-2" ><a class="text-decoration-none custom-nav-items"  href="{% url 'SuperAdmin:myAccount' %}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg></a></span>
    </nav>


    
      <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-header d-flex alignitemsceter justify-content-center">
                            <b style="color: #013873 ">Add Course</b>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                    <input name="addcourse" hidden/>
                                    <div class="row">
                                        <div class="col">
                                            <input  type="text box" class="form-control mb-2" name="course" placeholder="Course name" required />
                                            <select class="form-control" name="group" required>
                                                <option selected disabled> Select Group </option>
                                                {% for i in groups %}
                                                    <option value={{i.id}}>{{i.groupName}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-sm blue-to-orange-btn">Submit</button>
                            </div>
                        </form>
                    </div>
            </div>
            
                  <br>
              
                  <div class="messages">
                  
                      {% for i in messages %}
                      {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <div class="alert alert-danger" role="alert">{{i}}</div>
                      {% endif %}
                      {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <div class="alert alert-success" role="alert">{{i}}</div>
                      {% endif %}
                      {% endfor %}
                  </div>
              <div class="container mt-4" >
              <div class="course-box row">
              
                  {% for course in courses %}
                  <div class="col-sm-6 col-lg-4 col-xs-12">
                      <div class="cards">
                          <div class="card1">
              
                          <div class="card-header">{{course.courseName}}</div>
                          <div class="card-body">
                              {% getFaculty course.id as f %}
                              <h5 class="card-title">{{course.courseName}}</h5>
                              {% if f %}
                              <p class="card-text">Deals by : {{f.faculty.name}} </p>
                              <center>
                              <button class="btn btn-sm blue-to-orange-btn" data-toggle="modal"
                                  data-target="#staticBackdrop{{course.id}}">Customise</button></center>
                              {% else %}
                              <center>
                              <button class="btn  btn-sm blue-to-orange-btn" data-toggle="modal" data-target="#staticBackdrop1{{course.id}}">Add
                                  Faculty</button></center>
                              {% endif %}
                          </div>
                          </div>
              
              
              
                          <div class="modal fade " id="staticBackdrop{{course.id}}" 
                              tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                              <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Faculty</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% getFaculty course.id as f %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input name="editfaculty" hidden />
                                        <input name="course" value={{course.id}} hidden />
                                        <input name="currfaculty" value="{{f.faculty.id}}" hidden/>
                                        <div class="modal-body">
                                            <label for="email" style="margin-top:10px;"></label>
                                            <input class="form-control" type="text" placeholder={{f.faculty.email}} name="email"
                                                required>
                
                                            <label for="roll" style="margin-top:10px;"></label>
                                            <input id="roll" class="form-control" type="text" placeholder={{f.faculty.roll}} name="roll" required>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-sm blue-to-orange-btn" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                          </div>
                          <!--To add faculty-->
                          <div class="modal fade" id="staticBackdrop1{{course.id}}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Faculty</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input name="addfaculty" hidden />
                                        <input name="course" value={{course.id}} hidden />
                                        <div class="modal-body">
                                            <label for="email" style="margin-top:10px;"></label>
                                            <input class="form-control" type="text" placeholder="Ex: faculty1@gmail.com" name="email"
                                                required>
                
                                            <label for="roll" style="margin-top:10px;"></label>
                                            <input id="roll" class="form-control" type="text" placeholder="Ex:501" name="roll" required>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success blue-to-orange-btn" type="submit">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>  
                            
                          </div>
                      </div>
                  </div>
                  {% endfor %}




              </div>
              </div>

      </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>