<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>passwordchanged</title>
</head>

<body>
    <center>
        <div class="container">
            <p>Your password has successfully changed. Go back to the <a href="{% url 'App:loginPage' %}"
                    style="color: rgb(163, 9, 198); font-size: 20px;"> loginpage </a></p>
        </div>
    </center>




</body>

</html>